################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/The Rite of Knowing/addons/godot-git-plugin
/The Rite of Knowing/Scripts/.vs
The Rite of Knowing/.vscode/settings.json
